{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    // Like callbacks.
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index">BYKR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" name="results" href="{{=URL('search?results=')}}">Bikes</a>
                    </li>
                </ul>
                {{if 'auth' in globals():}}
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                    {{if auth.user:}}
                    <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                    {{if 'change_password' not in auth.settings.actions_disabled:}}
                    <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                    {{pass}}
                    <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                    {{else:}}
                    <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                    {{if 'register' not in auth.settings.actions_disabled:}}
                    <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                    {{pass}}
                    {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                    <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                    {{pass}}
                    {{pass}}
                    </div>
                </li>
                </ul>
                {{pass}}
            </div>
        </nav>
        
        <header>
            <div class="container text-center">
                <div id="title"><i><b>Bykr</b></i></div>
                <hr />
                <br />
                <form action="{{=URL('search')}}">
                    <div class="input-group mb-3">
                        <input name="results" type="text" class="form-control" placeholder="Search for bike..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <br />
            <br />
            <br />
            <br />
            

            <div class="container text-center">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=cannondale')}}">Cannondale</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=ibis')}}">Ibis</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=diamondback')}}">DiamondBack</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=santacruz')}}">Santa Cruz</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=fuji')}}">Fuji</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=nishiki')}}">Nishiki</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=trek')}}">Trek</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=specialized')}}">Specialized</a></th>
                            </tr>
                            <tr>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=ghost')}}">Ghost</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=salsa')}}">Salsa</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=scott')}}">Scott</a></th>
                            <th scope="col"><a class="tablefont" name="results" href="{{=URL('search?results=BMC')}}">BMC</a></th>
                            </tr>
                        </tbody>
                        </table>
            </div>
        </header>
        
    </div>
</div>

<style>
    p {
        color: white;
    }

    hr {
        border-color: black;
        color: black;
        background-color: black;
        height: 1px;
    }

    #title {
        padding-top: 100px;
        font-size: 100px;
        color: black;
    }
    header {
        background-image: url("{{=URL('static','images/mountain_bike.jpg')}}");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 1200px;
    }

    .tablefont {
        color:white;
        font-size: 20px;
    }

    a:hover {
        color: white;
    }

    .table-dark {
        opacity: 0.9;
    }
</style>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
