{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    var get_thumb_state_list_url = "{{=URL('api', 'get_thumb_state_list')}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BYKR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bykr/search">Search<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>

            <form action="{{=URL('search')}}">
              <input name="results" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            </form>
        </nav>
    </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
