{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var id = "{{=request.vars.id}}";
    var get_bike_url = "{{=URL('api', 'get_bike')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-review">
        <vue-review id="{{=request.vars.id}}"></vue-review>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index">BYKR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="user/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{=URL('search?results=')}}">Bikes</a>
                        </li>
                    </ul>
                    {{if 'auth' in globals():}}
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          {{if auth.user:}}
                          <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                          {{if 'change_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                          {{pass}}
                          <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                          {{else:}}
                          <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                          {{if 'register' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                          {{pass}}
                          {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                          {{pass}}
                          {{pass}}
                        </div>
                      </li>
                    </ul>
                    {{pass}}
                </div>
            </nav>
        <div class="bike_info">
            <div class="container">
                <div v-if="bike">
                    <h1>${bike._brand}</h1>
                    <h1>${bike._name}</h1>
                    <p><i>${bike._desc}</i></p>
                    <img v-bind:src="bike._img">
                </div>
            </div>
        </div>
        <hr />
        <!--Reivews go down here-->
        <div class="container">
            Reviews down here
        </div>
    </div>
</div>

<style>

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    hr {
        border-color: black;
        color: black;
        background-color: black;
        height: 1px;
    }
</style>

<script src="{{=URL('static', 'js/default_review.js')}}"></script>
