{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var id = "{{=request.vars.id}}";
    var get_bike_url = "{{=URL('api', 'get_bike')}}";

    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

    var add_reply_url = "{{=URL('api', 'add_reply', user_signature=True)}}";
    var edit_reply_url = "{{=URL('api', 'edit_reply', user_signature=True)}}";
    var get_replies_url = "{{=URL('api', 'get_replies')}}"
</script>
{{end}}

<div class="main_content">
    <div id="vue-review">
        <vue-review id="{{=request.vars.id}}"></vue-review>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index">BYKR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="user/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{=URL('search?results=')}}">Bikes</a>
                        </li>
                    </ul>
                    {{if 'auth' in globals():}}
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          {{if auth.user:}}
                          <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
                          {{if 'change_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
                          {{pass}}
                          <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
                          {{else:}}
                          <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
                          {{if 'register' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
                          {{pass}}
                          {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                          <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
                          {{pass}}
                          {{pass}}
                        </div>
                      </li>
                    </ul>
                    {{pass}}
                </div>
            </nav>
        <div class="bike_info">
            <div class="container">
                <div v-if="bike">
                    <h1>${bike._brand}</h1>
                    <h1>${bike._name}</h1>
                    <p><i>${bike._desc}</i></p>
                    <img v-bind:src="bike._img">
                </div>
            </div>
        </div>
        <hr />

        <!--Reivews go down here-->
        <div class="container">
            
            <span v-if="is_logged_in">
                <button type="button" 
                        class="btn btn-secondary btn-lg btn-block btn-dark" 
                        v-if="!show_form"
                        v-on:click="show_add_form">Add Review
                </button>
            </span>

            <div v-if="show_form">
                <div id="add_post" >
                    <div class="container form_row">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" id="InputTitle" aria-describedby="reviewHelp" v-model="form_title" placeholder="Enter Review Title">
                        <small id="titleHelp" class="form-text text-muted">Topic of your review</small>
                    </div>

                    <div class="container form_row">
                        <label for="Content">Content</label>
                        <input type="text" class="form-control" id="InputContent" aria-describedby="reviewHelp" v-model="form_content" placeholder="Enter Review Content">
                        <small id="contentHelp" class="form-text text-muted">Your review</small>
                    </div>

                    <div class="container form_row">
                        <div class="label quarter">
                            Rating:
                            <span v-on:mouseover="show_star_mouseover(1)" v-on:mouseout="show_star_mouseout(1)" v-on:click="show_star_click(1)">
                              <i v-if="show_star_arr[1]" class="fa fa-star"></i>
                              <i v-if="!show_star_arr[1]" class="fa fa-star-o"></i>
                            </span>
                            <span v-on:mouseover="show_star_mouseover(2)" v-on:mouseout="show_star_mouseout(2)" v-on:click="show_star_click(2)">
                              <i v-if="show_star_arr[2]" class="fa fa-star"></i>
                              <i v-if="!show_star_arr[2]" class="fa fa-star-o"></i>
                            </span>
                            <span v-on:mouseover="show_star_mouseover(3)" v-on:mouseout="show_star_mouseout(3)" v-on:click="show_star_click(3)">
                              <i v-if="show_star_arr[3]" class="fa fa-star"></i>
                              <i v-if="!show_star_arr[3]" class="fa fa-star-o"></i>
                            </span>
                            <span v-on:mouseover="show_star_mouseover(4)" v-on:mouseout="show_star_mouseout(4)" v-on:click="show_star_click(4)">
                              <i v-if="show_star_arr[4]" class="fa fa-star"></i>
                              <i v-if="!show_star_arr[4]" class="fa fa-star-o"></i>
                            </span>
                            <span v-on:mouseover="show_star_mouseover(5)" v-on:mouseout="show_star_mouseout(5)" v-on:click="show_star_click(5)">
                              <i v-if="show_star_arr[5]" class="fa fa-star"></i>
                              <i v-if="!show_star_arr[5]" class="fa fa-star-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="container form_row"><div class="quarter"></div>
                        <div class="threequarters">
                            <div class="submit">
                                <button type="button" class="btn btn-secondary btn-lg btn-block btn-dark" id="add-post" v-on:click="add_post(bike._id)">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- We display the posts. -->
            <div id="post_list">
                <div class="post_div" v-for="post in post_list">

                    <div class="card" style="width: 100%">
                        <img class="pic" v-bind:src="bike._img" alt="Card image cap" width="25%">
                        <div class="card-body">

                            <div v-if="post.is_author">
                                <i v-on:click="show_edit_form(post._idx)" class="fa fa-pencil-square-o"></i>
                            </div>

                            <div v-if="!post._editing" class="post_title">
                                <h5 class="card-title">${post.post_title}</h5>
                            </div>
                            <div v-if="post._editing">
                                <textarea v-model="post.post_title"></textarea> 
                            </div>

                            <div v-if="!post._editing" class="post_title">
                                
                                    <p class="card-text" style="text-align: left">${post.post_content}</p>
                                
                            </div>
                            <div v-if="post._editing">
                                <textarea v-model="post.post_content"></textarea> 
                            </div>
                            
                            <span v-for="n in 5">
                                <span v-if="n <= post.star_count" class="fa fa-star"></span>
                                <span v-else>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </span>

                            <button v-if="post._editing" id="edit-post" v-on:click="edit_post(post._idx, post.post_title, post.post_content)" class="btn btn-dark">Submit</button>
                            <button v-if="post._editing" v-on:click="cancel_edit(post._idx)" class="btn btn-dark">Cancel</button>


                            <br />
                            <button v-on:click="show_reply(post._idx)" class="btn btn-dark">Reply / Show Replies</button>
                            <button v-if="post._show_reply" v-on:click="hide_reply(post._idx)" class="btn btn-dark">Hide Replies</button>
                                

                            <div class="attributes">
                                <div v-if="post._show_reply" class="replies">
                                    <br />
                                    <span v-if="is_logged_in">
                                    <button v-if="!post._show_reply_form" v-on:click="show_add_reply_form(post._idx)" class="btn btn-dark">Add Reply</button>
                                    </span>
                                    <div v-if="post._show_reply_form" class="container form_row">
                                            Content of reply:
                                        <div class="form quarter">
                                            <textarea v-model="reply_content" placeholder="Enter the content of your reply"></textarea>
                                        </div>
                                        </div>
                                        <div v-if="post._show_reply_form" class="container form_row"><div class="quarter"></div>
                                        <div class="quarter">
                                            <div class="submit">
                                            <button id="add-reply" v-on:click="add_reply(post._idx)" class="btn btn-dark">Submit</button> 
                                            </div>
                                        </div>
                                        </div>
                                    <div class="post_div" v-for="reply in post._reply_list">
                                        
                                        <div>
                                            <b>${reply.reply_author}</b>
                                            <span v-if="reply.is_author">
                                                <i v-on:click="show_edit_reply_form(reply._idx)" class="fa fa-pencil-square-o"></i>
                                            </span>
                                        </div> 
                                        <div v-if="!reply._editing">${reply.reply_content}</div>
                                        <div v-if="reply._editing">
                                            <textarea v-model="reply.reply_content"></textarea> 
                                        </div>
                                        <button v-if="reply._editing" id="edit-reply" v-on:click="edit_reply(reply._idx, reply.reply_content)" class="btn btn-dark">Submit</button>
                                        <!--<button v-if="reply._editing" v-on:click="cancel_edit(post._idx)" class="btn btn-dark" class="btn btn-dark">Cancel</button>-->
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    
                    


                </div> 
            </div>


        </div>
    </div>
</div>

<style>

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    hr {
        border-color: black;
        color: black;
        background-color: black;
        height: 1px;
    }

    .attributes {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .post_div {
        background-color: rgb(194, 194, 194);
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<script src="{{=URL('static', 'js/default_review.js')}}"></script>
