{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_user_list_url = "{{=URL('api', 'get_user_list')}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
{{end}}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{=URL('index')}}">BYKR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{=URL('index')}}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{=URL('user/profile')}}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{=URL('search?results=')}}">Bikes</a>
            </li>
        </ul>

        {{if 'auth' in globals():}}
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {{if auth.user:}}
              <a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
              {{if 'change_password' not in auth.settings.actions_disabled:}}
              <a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
              {{pass}}
              <a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
              {{else:}}
              <a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a>
              {{if 'register' not in auth.settings.actions_disabled:}}
              <a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
              {{pass}}
              {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
              <a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
              {{pass}}
              {{pass}}
            </div>
          </li>
        </ul>
        {{pass}}

        
    </div>
</nav>
<body>
  <div id="main_content">
    <div id="vue-profile">
      <div id="top_of_form">
        <div class="row"> 
          
          <div id="web2py_user_form" class="col-lg-6" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
            <h2>
              {{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
            </h2>
            {{=form}}
            {{if request.args(0)=='login' and not 'register' in auth.settings.actions_disabled:}}
            <a href="{{=URL('user/register')}}">{{=T('Register')}}</a>
            <br/>
            {{pass}}
            {{if request.args(0)=='login' and not 'retrieve_password' in auth.settings.actions_disabled:}}
            <a href="{{=URL('user/retrieve_password')}}">{{=T('Lost your password?')}}</a>
            {{pass}}
            {{if request.args(0)=='register':}}
            <a href="{{=URL('user/login')}}">{{=T('Login')}}</a>
            {{pass}}
          </div>
        </div>
        <div v-if="is_logged_in">
          <div id="bottom_of_form">
            <div class="row"> 
                <div id="web2py_user_form" class="col-lg-6" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
                  <div id="user_review_list">
                    <h1 style="text-align: center;">User Reviews</h1>
                    <hr />
                    <div class="card-deck">
                      <div class="review_div" v-for="review in user_review_list">
                          <!--<h1>${review.bike_brand}</h1>
                          <h1>${review.bike_name}</h1>
                          <img v-bind:src="review.bike_img_url">
                          <p>${review.post_author}</p>
                          <p>${review.post_title}</p>
                          <p>${review.post_content}</p>-->
                          <div class="card" style="width: 20rem;">
                            <img class="card-img-top" v-bind:src="review.bike_img_url" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">${review.bike_brand}</h5>
                              <h5 class="card-title">${review.bike_name}</h5>
                              <hr />
                              <h3 style="text-align: center;">Review</h3>
                              <hr style="width: 110px;" />
                              <div style="text-align: center;">
                                <span v-for="n in 5">
                                  <span v-if="n <= review.star_count" class="fa fa-star"></span>
                                  <span v-else>
                                    <i class="fa fa-star-o"></i>
                                  </span>
                                </span>
                              </div>
                              <br />
                              <p class="card-text"><b>Author: </b>${review.post_author}</p>
                              <p class="card-text"><b>Title: </b>${review.post_title}</p>
                              <p class="card-text"><b>Content: </b>${review.post_content}</p>
                              <form action="{{=URL('review')}}">
                                    <button name="id" v-model="review.bike_id" class="btn btn-dark">Go to Bike</button>
                              </form>
                            </div>
                          </div>
                      </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>



{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}

<script src="{{=URL('static', 'js/default_user.js')}}"></script>


<style>
  body {
      background-image: url("{{=URL('static','images/login_pic.jpg')}}");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 1200px;
  }

  #top_of_form {
    margin-top: 200px;
  }

  #bottom_of_form {
    margin-top: 50px;
  }
</style>